RunType             dummy     // store ,  dummy  
RunFeature          Al360     // if you don't want RunTag, put no, otherwise put anything you want.  
Sensor              UFSD-K1   // sensor ID
Radiation           0         // 0 = no ,  1 = irradiated 
AMP                 0         // 0 = no amp ,   1 = amp
MeasurementType     1         // 0 = laser, 1 = source, 2 = IV , 3 = CV
BiasVoltage         -220   // [V]  (ex) -220V
Source              0         // 0 : Sr90,  1 : laser, 2 : source meter
Trigger_Type        2         // 0 : no trigger , 1 : edge,  2 : glitch, 3 : external MPPC, 4 : external MCP 
Trigger_Threshold   0.08      // [mV]
Trigger_Width       0.6       // [ns]
Trigger_Channel     2         // 1, 2, 3, 4
Channel_1_Status    0         // 0 = OFF , 1 = ON
Channel_2_Status    1         // 0 = OFF , 1 = ON
Channel_3_Status    0         // 0 = OFF , 1 = ON
Channel_4_Status    0         // 0 = OFF , 1 = ON
Temperature         30        // Celsius
Humidity            60        // humidity
MEMO                // memo in the next box, 14 lines are avaiable  
+++--------------------------------------------------------------+
01|  
02|  Sr90 source test
03|  Blocking low energy using " Al foil 360 micro meter " 
04|   
05|    
06|  
07|  
08| 
09|   
10|    
11|  This is a test
12|  Sr90 source test
13|--------------------------------------------------------------+ 
14| v1.00   |  Congiguration version                              
+++--------------------------------------------------------------+
